* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
}

:root {
    --base: radial-gradient(rgb(18, 31, 51), rgb(10, 10, 10));
    --main: linear-gradient(30deg, rgb(77, 8, 23), rgb(180, 25, 58));
    --highlight: rgb(250, 203, 49);
}

#mainBg {
    width: 100vw;
    height: 100vh;

    background: var(--base);

    position: absolute;
    z-index: -1;
}

#main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*  NAV BAR  */
#navBar {
    width: 0;
    height: 100%;

    color: white;

    background: var(--main);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vw;

    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;
}

#navBarTrigger {
    width: 4vw;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#navBar h1 {
    font-size: 2vw;

    opacity: 0;
    transform: scale(0);

    transition: .3s;
    cursor: pointer;
}

#navBar h1:hover {
    scale: 1.15;
}

#navBarHandle {
    width: 7vw;
    height: 0;

	border-bottom: 1.5vw solid #292929;
	border-left: .5vw solid transparent;
	border-right: .5vw solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: .7%;
    transform: translate(-50%, -50%) rotate(90deg);

    transition: .5s;
}

#navBarHandle ion-icon {
    color: rgb(189, 189, 189);
    font-size: 1.2vw;

    position: relative;
    top: .7vw;

    transform: rotate(90deg);
}

/*  MOVIE SEARCH  */
#searchApp {
    transition: .5s;
}

#searchFilters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: .5s;
}

.button, .select {
    width: 7vw;
    height: 2.5vw;

    color: white;
    font-size: 1vw;

    padding: .2vw .5vw;
    border: .2vw solid rgb(223, 223, 223);
    border-radius: .2vw;
    background: rgba(255, 255, 255, 0.171);

    cursor: pointer;
}

.select {
    width: 10vw;
}

.select option {
    color: black;
}

.wordSearch {
    cursor: auto;
}

.wordSearch:focus {
    outline: .2vw solid var(--highlight);
}

#movieContainer {
    width: 70vw;
    height: 71vh;

    position: relative;
    top: 2vw;

    filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.486));

    transition: .5s;
    overflow: hidden;
}

#movieContainerBg {
    width: 100%;
    height: 100%;

    background: var(--main);

    position: absolute;
    z-index: -1;
}

#loadingScreen {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#loadingScreen {
    width: 5vw;
    height: 5vw;

    border-radius: 50%;
    border-top: .3vw solid #FFF;
    border-right: .3vw solid transparent;

    display: none;

    position: absolute;
    top: 50%;
    left: 50%;

    animation: loading 1s linear infinite;
}
  
@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 

#movieContainerContent {
    width: 100%;
    height: 100%;

    color: white;
    font-size: 1.3vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#moviePoster {
    width: 35%;
    height: 100%;

    position: relative;

    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 0.26));
}

#moviePoster::after {
    content: '';

    width: 100%;
    height: 100%;

    background: radial-gradient(transparent 70%, black);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    pointer-events: none;
    opacity: .5;
}

#moviePoster img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#addToList {
    height: 2vw;

    font-size: 2.2vw;

    position: absolute;
    top: 3%;
    left: 5%;

    opacity: .5;

    transition: .15s;
    cursor: pointer;
}

#addToList::before {
    content: '';

    width: 100%;
    height: 100%;

    background: black;

    position: absolute;

    filter: blur(1vw);
    opacity: .7;
}

#movieInfo {
    width: 65%;
    height: 100%;

    padding: 1.5vw;
}

#movieTitle {
    width: 30vw;

    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow: hidden;
}

#movieRating {
    width: 6.5vw; 

    text-align: right;

    position: absolute;
    top: 5.5%;
    left: 88%;
}

#ratingsIcon {
    color: var(--highlight);

    position: absolute;
    top: 2%;
    left: -15%;
}

#voteCount {
    margin-left: .5vw;
    
    opacity: .5;
}

.timeLabel {
    margin: 0 .3vw;

    color: lightgray;
}

#movieDescription {
    width: 100%;
    max-height: 11.2vw;

    -webkit-line-clamp: 7;
    line-clamp: 7;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    margin-top: 2vw;

    overflow: hidden;
}

#movieCast, #movieDirector {
    width: 100%;
    height: 3.5vw;

    margin-top: 2vw;

    font-size: 1.05vw;

    display: flex;
    flex-direction: column;
    gap: .5vw;

    opacity: .7;
}

#castList, #directorList {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#movieDirector {
    margin-top: 1vw;
}

.infoTitle {
    opacity: .5;
}

#movieExtra {
    width: 41vw;

    display: flex;
    align-items: center;
    gap: 4vw;

    position: absolute;
    top: 86%;
}

#movieExtra h4 {
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: .5vw;
}

#streamingAvailability {
    color: var(--highlight);
    text-decoration: underline;

    position: absolute;
    left: 81%;

    cursor: pointer;
}


/*  MOVIE LIST  */
#movieList {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    opacity: 0;
    transition: .5s;

    filter: blur(.5vw);
}

#listContainer {
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
    gap: 4vw;
    position: absolute;

    transition: .5s;
}

#listContainer li {
    width: 12vw;
    height: 20vw;

    color: white;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
}